<?xml version="1.0" encoding="UTF-8"?>

<?include Guids.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>

    <!-- Directories -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id='USGS' Name='USGS'>
          <Directory Id="INSTALLLOCATION" Name="$(var.LongDirectoryName)">
            <Directory Id="BinDir" Name="bin" />
            <Directory Id="ExamplesDir" Name="examples" />
            <Directory Id="DatabaseDir" Name="database" />
            <Directory Id="DocDir" Name="doc" />
          </Directory>
        </Directory>
      </Directory>
      <Directory Id='ProgramMenuFolder' Name='ProgMenu'>
        <Directory Id='ShortCutFolder' Name="$(var.LongDirectoryName)" />
      </Directory>
    </Directory>

    <!-- Components -->
    <DirectoryRef Id="INSTALLLOCATION">
      <Component Id="RootFiles" Guid="$(var.RootFilesGuid)">
        <File Id="README" Name="README.TXT" Vital="yes" DiskId='1' Source="$(var.RootSource)\README.TXT" />
        <File Id="NOTICE" Name="NOTICE.TXT" Vital="yes" DiskId='1' Source="$(var.RootSource)\NOTICE.TXT" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="BinDir">
      <Component Id="Executables" Guid="$(var.ExecutablesGuid)">
        <File Id="f__netpathxl.exe" Name='netpathxl.exe' Vital="yes" DiskId='1' Source="$(var.ExeSource)\netpathxl$(var.DebugLetter).exe" KeyPath="yes">
          <Shortcut Id='NetpathXLShortcut' Directory='ShortCutFolder' Name='NetpathXL' Icon="netpathxl.exe" IconIndex="0" Advertise='yes' WorkingDirectory="INSTALLLOCATION"/>
        </File>
        <RemoveFolder Id="RemoveShortCutFolder" Directory="ShortCutFolder" On="uninstall"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="BinDir">
      <Component Id="DBXL" Guid="$(var.DBXLGuid)">
        <File Id="dbxl.exe" Name="dbxl.exe" Vital="yes" DiskId='1' Source="$(var.ExeSource)\dbxl$(var.DebugLetter).exe" KeyPath="yes">
          <Shortcut Id='DBXLShortcut' Directory='ShortCutFolder' Name='DBXL' Icon="dbxl.exe" IconIndex="0" Advertise='yes' WorkingDirectory="INSTALLLOCATION"/>
        </File>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="DatabaseDir">
      <Component Id="Database" Guid="$(var.DatabaseGuid)">
        <File Id="db.dat" Name="db.dat" Vital="yes" DiskId='1' Source="$(var.DatabaseSource)\db.dat" />
        <File Id="netpath.dat" Name="netpath.dat" Vital="yes" DiskId='1' Source="$(var.DatabaseSource)\netpath.dat" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="DocDir">
      <Component Id="NetpathxlPDF" Guid="$(var.NetpathxlPDFGuid)">
        <File Id="netpathxl.pdf" Name="netpathxl.pdf" Vital="yes" DiskId='1' Source="$(var.DocSource)\netpathxl.pdf" KeyPath="yes">
          <Shortcut Id='NetpathXLPDFShortcut' Directory='ShortCutFolder' Name='NetpathXL Manual' Advertise='yes'/>
        </File>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="DocDir">
      <Component Id="PlummerPDF" Guid="$(var.PlummerPDFGuid)">
        <File Id="Plummer.pdf" Name="Plummer et al., 1994 NETPATH Manual.PDF" Vital="yes" DiskId='1' Source="$(var.DocSource)\Plummer et al., 1994 NETPATH Manual.PDF" KeyPath="yes">
          <Shortcut Id='PlummerPDFShortcut' Directory='ShortCutFolder' Name='Plummer et al., 1994 NETPATH Manual' Advertise='yes' />
        </File>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="ExamplesDir">
      <Component Id="Examples" Guid="$(var.ExamplesGuid)">
        <File Id="class.lon" Name="class.lon" DiskId='1' Source="$(var.ExamplesSource)\class.lon" />
        <File Id="class.out" Name="class.out" DiskId='1' Source="$(var.ExamplesSource)\class.out" />
        <File Id="class.pat" Name="class.pat" DiskId='1' Source="$(var.ExamplesSource)\class.pat" />
        <File Id="class.xls" Name="class.xls" DiskId='1' Source="$(var.ExamplesSource)\class.xls" />
        <File Id="db.fil" Name="db.fil" DiskId='1' Source="$(var.ExamplesSource)\db.fil" />
        <File Id="model.fil" Name="model.fil" DiskId='1' Source="$(var.ExamplesSource)\model.fil" />
        <File Id="netpath.fil" Name="netpath.fil" DiskId='1' Source="$(var.ExamplesSource)\netpath.fil" />
        <File Id="np.1a.out" Name="np-1a.out" DiskId='1' Source="$(var.ExamplesSource)\np-1a.out" />
        <File Id="np.1b.out" Name="np-1b.out" DiskId='1' Source="$(var.ExamplesSource)\np-1b.out" />
        <File Id="np.1c.out" Name="np-1c.out" DiskId='1' Source="$(var.ExamplesSource)\np-1c.out" />
        <File Id="np.2.out" Name="np-2.out" DiskId='1' Source="$(var.ExamplesSource)\np-2.out" />
        <File Id="np.3.1.out" Name="np-3-1.out" DiskId='1' Source="$(var.ExamplesSource)\np-3-1.out" />
        <File Id="np.3.2.out" Name="np-3-2.out" DiskId='1' Source="$(var.ExamplesSource)\np-3-2.out" />
        <File Id="np.3.3a.out" Name="np-3-3a.out" DiskId='1' Source="$(var.ExamplesSource)\np-3-3a.out" />
        <File Id="np.3.3b.out" Name="np-3-3b.out" DiskId='1' Source="$(var.ExamplesSource)\np-3-3b.out" />
        <File Id="np.3.4.out" Name="np-3-4.out" DiskId='1' Source="$(var.ExamplesSource)\np-3-4.out" />
        <File Id="np.3.5.out" Name="np-3-5.out" DiskId='1' Source="$(var.ExamplesSource)\np-3-5.out" />
        <File Id="np.3.6.out" Name="np-3-6.out" DiskId='1' Source="$(var.ExamplesSource)\np-3-6.out" />
        <File Id="np.3.7.out" Name="np-3-7.out" DiskId='1' Source="$(var.ExamplesSource)\np-3-7.out" />
        <File Id="np.4.out" Name="np-4.out" DiskId='1' Source="$(var.ExamplesSource)\np-4.out" />
        <File Id="np.5.1.out" Name="np-5-1.out" DiskId='1' Source="$(var.ExamplesSource)\np-5-1.out" />
        <File Id="np.5.2.out" Name="np-5-2.out" DiskId='1' Source="$(var.ExamplesSource)\np-5-2.out" />
        <File Id="np.5.3.out" Name="np-5-3.out" DiskId='1' Source="$(var.ExamplesSource)\np-5-3.out" />
        <File Id="np.5.4.out" Name="np-5-4.out" DiskId='1' Source="$(var.ExamplesSource)\np-5-4.out" />
        <File Id="np.5.5.out" Name="np-5-5.out" DiskId='1' Source="$(var.ExamplesSource)\np-5-5.out" />
        <File Id="np.6.out" Name="np-6.out" DiskId='1' Source="$(var.ExamplesSource)\np-6.out" />
        <File Id="np.7.out" Name="np-7.out" DiskId='1' Source="$(var.ExamplesSource)\np-7.out" />
        <File Id="np.1a.dat" Name="np-1a.dat" DiskId='1' Source="$(var.ExamplesSource)\np-1a.dat" />
        <File Id="np.1b.dat" Name="np-1b.dat" DiskId='1' Source="$(var.ExamplesSource)\np-1b.dat" />
        <File Id="np.1c.dat" Name="np-1c.dat" DiskId='1' Source="$(var.ExamplesSource)\np-1c.dat" />
        <File Id="np.2.dat" Name="np-2.dat" DiskId='1' Source="$(var.ExamplesSource)\np-2.dat" />
        <File Id="np.3.1.dat" Name="np-3-1.dat" DiskId='1' Source="$(var.ExamplesSource)\np-3-1.dat" />
        <File Id="np.3.2.dat" Name="np-3-2.dat" DiskId='1' Source="$(var.ExamplesSource)\np-3-2.dat" />
        <File Id="np.3.3a.dat" Name="np-3-3a.dat" DiskId='1' Source="$(var.ExamplesSource)\np-3-3a.dat" />
        <File Id="np.3.3b.dat" Name="np-3-3b.dat" DiskId='1' Source="$(var.ExamplesSource)\np-3-3b.dat" />
        <File Id="np.3.4.dat" Name="np-3-4.dat" DiskId='1' Source="$(var.ExamplesSource)\np-3-4.dat" />
        <File Id="np.3.5.dat" Name="np-3-5.dat" DiskId='1' Source="$(var.ExamplesSource)\np-3-5.dat" />
        <File Id="np.3.6.dat" Name="np-3-6.dat" DiskId='1' Source="$(var.ExamplesSource)\np-3-6.dat" />
        <File Id="np.3.7.dat" Name="np-3-7.dat" DiskId='1' Source="$(var.ExamplesSource)\np-3-7.dat" />
        <File Id="np.4.dat" Name="np-4.dat" DiskId='1' Source="$(var.ExamplesSource)\np-4.dat" />
        <File Id="np.5.1.dat" Name="np-5-1.dat" DiskId='1' Source="$(var.ExamplesSource)\np-5-1.dat" />
        <File Id="np.5.2.dat" Name="np-5-2.dat" DiskId='1' Source="$(var.ExamplesSource)\np-5-2.dat" />
        <File Id="np.5.3.dat" Name="np-5-3.dat" DiskId='1' Source="$(var.ExamplesSource)\np-5-3.dat" />
        <File Id="np.5.4.dat" Name="np-5-4.dat" DiskId='1' Source="$(var.ExamplesSource)\np-5-4.dat" />
        <File Id="np.5.5.dat" Name="np-5-5.dat" DiskId='1' Source="$(var.ExamplesSource)\np-5-5.dat" />
        <File Id="np.6.dat" Name="np-6.dat" DiskId='1' Source="$(var.ExamplesSource)\np-6.dat" />
        <File Id="np.7.dat" Name="np-7.dat" DiskId='1' Source="$(var.ExamplesSource)\np-7.dat" />
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="MainExecutable">
      <ComponentRef Id="RootFiles" />
      <ComponentRef Id="Executables" />
      <ComponentRef Id="DBXL" />
      <ComponentRef Id="Database" />
      <!--<ComponentRef Id="Doc" />
      <ComponentRef Id="NonAdvShortcuts" />-->
      <ComponentRef Id="NetpathxlPDF"/>
      <ComponentRef Id="PlummerPDF"/>
    </ComponentGroup>

    <ComponentGroup Id="Examples">
      <ComponentRef Id="Examples" />
    </ComponentGroup>

  </Fragment>
</Wix>
